 
 body {
	font-family: 'Press Start 2P';
	text-align: center;
 }
 
 img.gameScreenShot {
	width: 240px;
	float: left;
 }
 
 .thumbnail2 {
	height: 340px;
 }
 

 .aboutText {
	font-size: 1em !important;
 }